{% extends "base.twig" %}
{% block content %}

<div class="card shadow p-4 mt-4" style="max-width: 700px; margin: auto;">
    <h2 class="mb-4"><i class="fa-solid fa-plus"></i> Add New Song</h2>

    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for e in errors %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Title</label>
                <input name="title" class="form-control">
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Artist</label>
                <input name="artist" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Album</label>
            <input name="album" class="form-control">
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Genre</label>
                <input name="genre" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Year</label>
                <input type="number" name="year" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Duration</label>
                <input name="duration" placeholder="03:30" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">BPM</label>
                <input type="number" name="bpm" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Key Signature</label>
                <input name="key_signature" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Record Label</label>
                <input name="record_label" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Producer</label>
            <input name="producer" class="form-control">
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Spotify Streams</label>
                <input type="number" name="spotify_streams" class="form-control">
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">YouTube Views</label>
                <input type="number" name="youtube_views" class="form-control">
            </div>
        </div>

        <!-- STREAMING URL FIELDS -->
        <div class="mb-3">
            <label class="form-label">Spotify URL</label>
            <input type="text" name="spotify_url" class="form-control" placeholder="https://open.spotify.com/...">
        </div>

        <div class="mb-3">
            <label class="form-label">YouTube URL</label>
            <input type="text" name="youtube_url" class="form-control" placeholder="https://youtube.com/watch?v=...">
        </div>

        <button type="submit" class="btn btn-success w-100">
            <i class="fa-solid fa-save"></i> Save Song
        </button>
    </form>
</div>

{% endblock %}
